<launch>
    <arg name="robot_type" default="SF_TRON2A"/>
    <arg name="spawn_z" default="0.55"/>

    <param name="robot_type" value="$(arg robot_type)" />

    <rosparam file="$(find tron2_gazebo)/config/default_tron2.yaml" command="load"/>

    <param name="robot_description"
           command="xacro $(find robot_description)/tron2/$(arg robot_type)/xacro/robot.urdf.xacro ros_version:=1"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find tron2_gazebo)/worlds/empty_world.world"/>
        <arg name="paused" value="false"/>
    </include>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"
          args="-param robot_description -urdf -z $(arg spawn_z) -model tron2_robot" output="screen"/>
</launch>
